/* BlogDetails.module.css */

.blogContent {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 1rem;
  border-radius: 1rem;
}

.blogContent h1 {
  @apply text-4xl font-bold lg:text-5xl; /* Apply Tailwind classes */
  margin-bottom: 1rem;
  padding: 0;
}

.blogContent h2 {
  @apply text-3xl font-semibold lg:text-4xl; /* Apply Tailwind classes */
  margin-bottom: 1rem;
  padding: 0;
}

.blogContent h3 {
  @apply text-2xl font-medium lg:text-3xl; /* Apply Tailwind classes */
  margin-bottom: 1rem;
  padding: 0;
}

.blogContent h4 {
  @apply text-xl font-medium lg:text-2xl; /* Apply Tailwind classes */
  margin-bottom: 1rem;
  padding: 0;
}

.blogContent h5 {
  @apply text-lg font-normal lg:text-xl; /* Apply Tailwind classes */
  margin-bottom: 1rem;
  padding: 0;
}

.blogContent h6 {
  @apply text-base font-normal lg:text-lg; /* Apply Tailwind classes */
  margin-bottom: 1rem;
  padding: 0;
}

.blogContent p {
  margin-bottom: 0.6rem;
}

.blogContent ol,
.blogContent ul {
  list-style: initial;
  margin-bottom: 0.6rem;
  padding-left: 1.5rem;
}

.blogContent ol {
  list-style: decimal;
}

.blogContent a {
  color: blue;
  text-decoration: underline;
}
