@import "../../../../styles/variables";

/* Default styles for mobile devices and above */
.landing-section {
  margin-bottom: 1rem;
  position: relative;
  width: 100%;
  overflow-x: hidden;

  .landing-top {
    height: 35vh;
    min-height: 320px;
    position: relative;
    width: 100%;
    margin-bottom: 3.4rem;

    #categories {
      scroll-margin-top: 100px;
      /* Adjust the value as needed */
    }

    // mobile view button
    .mobile-list-btn {
      position: absolute;
      display: block;
      top: 1rem;
      right: 2rem;
      z-index: 5;
      font-size: 0.85rem;
      padding: 0.2rem 0.4rem;
    }

    .landing-bg {
      height: 95% !important;
      min-height: 95% !important;
      max-height: 95% !important;
      background-size: auto 105%;
      background-position: center;
      background-repeat: no-repeat;
      transition: all 0.5s ease-in-out;
      position: relative;
      img {
        object-fit: cover;
        object-position: 70% center;
        width: 100%;
        height: 100%;
      }

      // Media query to apply the overlay only on small screens
      @media (max-width: 768px) {
        &::before {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          height: 85%; // Only cover the bottom half
          background: linear-gradient(
            to bottom,
            rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 0.8) 100%
          ); // Gradient from transparent to black
          pointer-events: none; // Allow clicks to pass through
          z-index: 1; // Ensure the overlay is on top of the image
        }
      }

      .landing-text-container {
        position: absolute;
        width: 100%;
        top: 37%;
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 0.5rem;
        z-index: 3;

        .trust {
          color: black;
          background-color: white;
          padding: 0.4rem;
          padding-left: 0.6rem;
          padding-right: 0.6rem;
          border-radius: 0.8rem;
          width: fit-content;
          max-width: 99%;
          font-weight: 600;
          font-size: 0.9rem;
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          align-items: center;
          column-gap: 0.3rem;
        }

        .best-price {
          display: flex;
          flex-direction: column;
          text-align: center;
          text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
          padding: 0 0.2rem;
          border-radius: 0.3rem;
        }

        .best-price-p {
          color: white;
          margin: 0;
          padding: 0;

          .zero {
            font-weight: 600;
            background-color: $yellow;
            padding: 0rem 0.3rem;
            border-radius: 0.3rem;
            color: black;
            text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.5);
          }
        }

        button {
          width: fit-content;
        }
      }
    }
  }

  // landing bottom

  .landing-bottom {
    width: 92%;
    margin-left: auto;
    margin-right: auto;

    p {
      text-align: center;
      line-height: 1.1;
      letter-spacing: 0.05em;

      .bold-text {
        font-weight: bold;
      }
    }

    .near-car {
      display: flex;
      justify-content: center;
      margin-top: 1.2rem;
      column-gap: 0.3rem;

      span {
        font-weight: bold;
        position: relative;
        bottom: 0.2rem;
        text-transform: capitalize;
      }
    }
  }
}

/*  (min-width: 768px) and above */
@media (min-width: 768px) {
  .landing-section {
    .landing-top {
      height: 48vh;
      margin-bottom: 2rem;

      .landing-bg {
        background-size: auto 105%;
        background-position: center;
        background-size: cover;
        z-index: 0;

        // black overlay
        &::before {
          content: "";
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          width: 70%; // Cover the left half of the container
          background: linear-gradient(
            to right,
            rgba(0, 0, 0, 0.7) 0%,
            rgba(0, 0, 0, 0) 100%
          ); // Gradient from black to transparent
          pointer-events: none; // Allow clicks to pass through
          z-index: 1; // Ensure the overlay is on top of the image
        }

        img {
          object-position: center;
        }

        .landing-text-container {
          z-index: 10;
          top: 30%;
          margin-left: 2rem;
          width: fit-content;
          align-items: start;

          .trust {
            font-size: 1.05rem;
            justify-content: start;
            flex-wrap: nowrap;
            max-width: fit-content;
          }

          div {
            align-items: start;
          }
        }
      }
    }

    // landing bottom

    .landing-bottom {
      width: 80%;
    }
  }
}

/* (min-width: 1024px) and above */
@media (min-width: 1024px) {
  .landing-section {
    .landing-top {
      height: 57vh;
      position: relative;

      .mobile-list-btn {
        display: none;
      }

      .landing-bg {
        background-size: cover;

        .landing-text-container {
          top: 30%;
          margin-left: 5rem;
          width: fit-content;
          align-items: start;

          div {
            align-items: start;
          }
        }
      }
    }

    // landing bottom

    .landing-bottom {
      margin-top: 1rem;
      width: 80%;
    }
  }
}
