.rent-now-section {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    column-gap: 1rem;
    width: 100%;
    padding: .3rem;
  

  
    .rent-now-btn {
      display: flex;
      flex-direction: row ;
      align-items: center;
      font-weight: bold;
      font-size: larger;
      
      .text-content {
        display: flex;
        flex-direction: column;
        line-height: 1; // Minimize text spacing
  
        div {
          font-size: larger;
        }
  
        span {
          font-size: 0.7rem;
          font-weight: lighter;
          line-height: none;
          color: gray;
        }
      }

      .rent-now-hidden{
        display: none;
      }
    }

    .not-available-div {
      display: none;
      font-size: .8rem;
      font-weight: 600;
      color: rgb(112, 112, 112);
    }
  
    .icons {
      display: flex;
      align-items: center;
      column-gap: 0.6rem;
  
      .icon {
        font-size: 2rem;
      }
  
      .whatsapp {
        color: rgb(0, 219, 0);
        font-size: 2.2rem;
      }
  
      .mail {
        color: gray;
      }
  
      .phone {
        font-size: 2.2rem;
      }
    }
}

  @media (min-width: 768px) {
    .rent-now-section {
      
      .rent-now-btn {
        .rent-now-hidden{
          display: flex;
        }  
      }
      .not-available-div{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: none;
        color: rgb(198, 51, 51)
      }
    }
}