.rent-now-section {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    column-gap: 1rem;
    width: 100%;
  

  
    .rent-now-btn {
      display: flex;
      align-items: center;
      font-weight: bold;
      font-size: larger;
      
      .text-content {
        display: flex;
        flex-direction: column;
        line-height: 1; // Minimize text spacing
  
        div {
          font-size: larger;
        }
  
        span {
          font-size: 0.7rem;
          font-weight: lighter;
          line-height: none;
          color: gray;
        }
      }

      .rent-now-hidden{
        display: none;
      }
    }
  
    .icons {
      display: flex;
      align-items: center;
      column-gap: 0.6rem;
  
      .icon {
        font-size: 2rem;
      }
  
      .whatsapp {
        color: rgb(0, 219, 0);
        font-size: 2.2rem;
      }
  
      .mail {
        color: gray;
      }
  
      .phone {
        font-size: 2.2rem;
      }
    }
  
    @keyframes glow {
      from {
        text-shadow: 0 0 5px limegreen;
      }
      to {
        text-shadow: 0 0 20px rgb(80, 224, 106),
                      0 0 30px rgb(107, 231, 107),
                      0 0 40px rgb(194, 238, 194);
      }
    }
  }

  @media (min-width: 768px) {
    .rent-now-section {
    
      .rent-now-btn {
        .rent-now-hidden{
          display: flex;
        }
      }
    }
}