version: '3'

services:
  nextjs-app:
    build:
      context: .
      dockerfile: Dockerfile-dev
    ports:
      - '3004:3000'  # Map server port 3003 to container port 3000
    command: npm run start
