.locationContainer {
  font-size: 15px;
  color: rgb(91, 91, 91);
  margin-top: 0.6rem;
  display: flex;
  align-items: start;

  .location {
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 1rem;
    column-gap: 0.3rem;
    margin-top: 0.1rem;
  }

  .state {
    font-weight: 500;
    color: rgb(37, 37, 37);
    margin-right: 0.3rem;
    display: flex;
    align-items: center;
    white-space: nowrap;
  }

  .cityListSubheading {
    .city {
      font-weight: 400;
      color: rgb(45, 45, 45);
      margin-right: 0.3rem;
      font-size: 0.95rem;
    }
  }
}

@media (min-width: 768px) {
  .locationContainer {
    display: flex;
    column-gap: 0.1rem;
    font-size: 15px;
    color: rgb(91, 91, 91);
    margin-top: 0.8rem;

    .location {
      display: flex;
      justify-content: start;
      align-items: center;
      font-size: 1rem;
      column-gap: 0.3rem;
    }

    .state {
      font-weight: 500;
      color: rgb(37, 37, 37);
      margin-right: 0.3rem;
    }

    .city {
      font-weight: 400;
      color: rgb(45, 45, 45);
      margin-right: 0.3rem;
    }
  }
}
