@import '../../../../styles/variables';

.top-brands-section {
  min-height: fit-content;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2rem;
  background-color: $gray_bg;

  h2 {
    margin: 1rem auto;
    font-weight: lighter;
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 1.4rem;
  }

  .brand-card {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 8rem;
    min-height: 8rem;
    max-height: 8rem;
    width: 8rem;
    min-width: 8rem;
    max-width: 8rem;
    aspect-ratio: 1;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
    padding: 0.5rem;
    cursor: pointer;
    transition: transform 200ms ease-out;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);

    &:hover {
      scale: 1.01;
      box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
    }

    .image-box {
      height: 6rem;
      width: 100%;
      min-height: 6rem;
      min-width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: auto;
      position: relative;

      img {
        height: 100%;
        width: 100%;
        object-fit: contain;
      }
    }

    .brand-info {
      height: 20%;
      width: 95%;
      max-width: 95%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 0.9rem;
      color: rgb(24, 24, 24);
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}