@use "../../../../../../styles/variables" as *;
.top-container {
  position: relative;

  .top {
    padding: 0.1rem;
    position: relative;
    overflow: hidden;
    border-radius: 1rem;

    &:hover {
      /* Ensure z-index changes when hovered */
      .company-black-overlay {
        opacity: 1; /* Make the overlay visible */
        z-index: 30; /* Bring overlay to the front */
      }
    }
    // black overlay
    .company-black-overlay {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(
        36,
        36,
        36,
        0.85
      ); /* Black background with transparency */
      color: $yellow;
      font-size: 1.2rem;
      font-weight: 600;
      display: flex;
      align-items: center;
      justify-content: center;
      opacity: 0; /* Initially hidden */
      z-index: 30; /* Initially set to behind content */
      transition:
        opacity 0.3s ease-in-out,
        z-index 0s linear 0.3s; /* Smooth opacity transition */
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;
    }

    .profile-details {
      display: flex;
      align-items: center;
      gap: 1rem;
      border: solid 1px rgba(0, 0, 0, 0.1);
      border-radius: 1rem;
      padding: 0.8rem;
      background-color: #fff;
      z-index: 10;
      transition: background-color 0.3s ease;
      position: relative;

      &:hover {
        background-color: rgb(239, 239, 239);
        cursor: pointer;
      }

      // image container
      .blurred-profile {
        filter: blur(13px);
      }

      .profile-logo {
        width: 5rem;
        max-width: 5rem;
        min-width: 5rem;
        height: 5rem;
        min-height: 5rem;
        max-height: 5rem;
        aspect-ratio: 1;
        border-radius: 100%;
        border: solid 1px rgba(0, 0, 0, 0.099);
        overflow: hidden;

        .company-profile-logo {
          width: 100%;
          height: 100%;
          min-width: 100%;
          min-height: 100%;
          object-fit: cover !important;
          object-position: center;
          user-select: none;
          pointer-events: none;
          user-drag: none;
        }
      }

      // name label
      .company-name {
        font-weight: 500;
        font-size: 1.1rem;
        color: rgb(61, 61, 61);
        margin-bottom: 0.4rem;
      }

      // for blurring the text
      .blurred-text {
        color: transparent;
        text-shadow: 0 0 8px #000;
        width: fit-content;
        user-select: none;
        pointer-events: none;
        cursor: not-allowed;
      }

      // verified label
      .verified {
        display: flex;
        align-items: center;
        column-gap: 0.3rem;
        position: relative;

        .icon {
          scale: 1.7;
          color: $yellow;
          position: absolute;
        }

        span {
          background-color: rgb(211, 211, 211);
          border-radius: 0.3rem;
          padding: 0.2rem 0.4rem 0.2rem 0.8rem;
          font-size: 0.65rem;
          margin-left: 0.8rem;
          font-weight: 500;
        }
      }
    }
  }

  // view portfolio div under top-container
  .view-portfolio {
    position: absolute;
    height: 1rem;
    background-color: red;
    bottom: -0.33rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 40;
    font-size: 0.8rem;
    color: black;
    border-radius: 0.3rem;
    text-align: center;
    padding: 0 0.5rem;
    background-color: $yellow;
  }
}
