/* Default styles for mobile devices and above */
.vehicle-details-section {
  height: auto;
  min-height: 100vh;
  padding-top: 1rem;
  padding-bottom: 2rem;
  width: 100% !important;

  // heading container
  .heading-box {
    background-color: white;
    padding: 0.7rem 1rem;
    border-radius: 1rem;
    border: solid 1px rgba(109, 109, 109, 0.1);
    box-shadow: 1px 1px 4px rgba(101, 101, 101, 0.1);
    margin-bottom: 1rem;
    .model-name {
      font-weight: 500;
      font-size: 1.18rem;
    }
  }

  // Details Container
  .details-section {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100% !important;
    max-width: 100% !important;

    .details-container {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      width: 100% !important;
      max-width: 100% !important;

      .details {
        width: 100%;
        min-width: auto;
        max-width: 100%;
      }

      // right side
      .right {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: start;
        gap: 1rem;
      }
    }
  }
}

/*  (min-width: 768px) and above */
@media (min-width: 768px) {
  .vehicle-details-section {
    // heading container
    .heading-box {
      .model-name {
        font-size: 1.45rem;
        width: 90%;
      }
    }

    // Details Container
    .details-section {
      .details-container {
        .details {
          width: auto;
          min-width: auto;
          max-width: 100%;
        }
      }
    }
  }
}

/* (min-width: 1024px) and above */
@media (min-width: 1024px) {
  .vehicle-details-section {
    .heading-box {
      .model-name {
        font-size: 1.7rem;
      }
    }
    // Details Container
    .details-section {
      .details-container {
        display: flex;
        gap: 1rem;

        .details {
          width: auto;
          min-width: auto;
          max-width: 100%;
        }
      }
    }
  }
}

/* (min-width: 1200px) and above */
@media (min-width: 1200px) {
  .vehicle-details-section {
    // Details Container
    .details-section {
      .details-container {
        flex-direction: row;

        .details {
          width: 70%;
          max-width: 70%;
        }
      }
    }
  }
}
