.specsGrid {
  display: flex;
  flex-wrap: wrap;
  row-gap: 0.6rem;
  column-gap: 0.1rem;
  margin-bottom: 0.3rem;
}

.spec {
  width: 6rem;
  display: flex;
  justify-content: start;
  align-items: center;
  column-gap: 0.3rem;
  font-size: 0.8rem;
  line-height: 1.2;
  color: gray;
  position: relative;
}

.specIcon {
  flex-shrink: 0;
}

.eachSpecValue {
  width: 100%;
  height: auto;
  overflow: hidden;
  white-space: nowrap; // Prevent wrapping
  text-overflow: ellipsis; // Add ellipsis for truncation
  word-wrap: break-word;
  position: relative;

  // On hover, show full text
  &:hover {
    white-space: wrap;
    overflow: visible;
    background-color: white;
    color: black;
    position: absolute;
    z-index: 10; // Ensure it is on top
    padding: 0.3rem;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); //
    max-width: 100%;
    border-radius: 5px;
  }
}
