.addOns {
  display: flex;
  align-items: start;
  flex-direction: column;
  background-color: rgb(232, 232, 232);
  padding: 0.3rem 0.6rem;
  border-radius: 0.3rem;
  width: fit-content;

  .addOnsHeading {
    font-weight: 500;
    display: flex;
    align-items: center;

    .colon {
      display: none;
      margin-left: 0.3rem;
      margin-right: 0.3rem;
    }
  }

  .addOnsServices {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 0.3rem;

    .addOnsItem {
      white-space: nowrap;
      font-size: 0.95rem;
    }
  }
}

/* (min-width: 768px) and above */
@media (min-width: 768px) {
  .addOns {
    display: flex;
    align-items: start;
    flex-direction: row;
    background-color: rgb(232, 232, 232);
    padding: 0.3rem 0.6rem;
    border-radius: 0.3rem;

    .addOnsHeading {
      .colon {
        display: block;
      }
    }
  }
}
