/* Default styles for mobile devices and above */
.locations-section {
  background: white;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 10rem;
  padding-right: 5rem;
  border-radius: 1rem;
  margin-top: -0.5rem;
  margin-bottom: 2rem;
  width: 98%;
  margin-left: auto;
  margin-right: auto;

  h3 {
    text-align: center;
    font-size: 1.4rem;
    margin-bottom: 0.4rem;
    font-weight: bold;
  }

  p {
    text-align: center;
    margin-bottom: 1.5rem;
    font-size: 0.9rem;
    color: rgb(53, 53, 53);
  }

  // countries
  .countries {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.5rem;
    column-gap: 1rem;
    margin-bottom: 1rem;

    button {
      background-color: rgb(239, 239, 239);
      border: none;
      padding: 0.3rem 0.6rem;
      border-radius: 0.5rem;
      cursor: pointer;
      transition: all 0.2s ease-out;
      font-weight: 600;

      &:hover {
        background-color: black;
        color: white;
      }
    }

    .selected {
      background-color: black;
      color: white;
    }
  }

  // cities
  .cities {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.6rem;
    column-gap: 1rem;
    cursor: pointer;

    .city {
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 400;
      font-size: 0.9rem;
      background-color: #f1f1f1;
      padding: 0.1rem;
      padding-left: 0.3rem;
      padding-right: 0.3rem;
      border-radius: 0.5rem;
      height: 1.6rem;
      transition: background-color 0.1s ease-out;

      &:hover {
        background-color: #d8d8d8;
      }
    }
  }
}

/*  (min-width: 768px) and above */
@media (min-width: 768px) {
  .cities-section {
    // cities
    .cities {
      max-width: 90%;
    }
  }
}

/* (min-width: 1024px) and above */
@media (min-width: 1024px) {
  .cities-section {
    // cities
    .cities {
      max-width: 80%;
    }
  }
}
