/* Default styles for mobile devices and above */
.terms-condition-section {
  padding-bottom: 3rem;

  a {
    color: blue;

    &:hover {
      text-decoration: underline;
    }
  }

  .highlight {
    font-weight: bold;
    color: black;
  }

  .section-heading {
    font-size: 1.8rem;
    font-weight: 600;
    text-decoration: underline;
    margin-top: 0.5rem;
    margin-bottom: 0.3rem;
  }

  .sub-section {
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;

    h3 {
      font-size: 1.2rem;
      font-weight: 600;
      margin-bottom: 0.3rem;
      margin-top: 1.5rem;
    }
  }

  .container {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .sub-section {
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;

    h3 {
      font-size: 1.1rem;
      font-weight: 600;
      margin-bottom: 0.8rem;
      margin-top: 1.5rem;
    }

    h2 {
      font-size: 1.3rem;
      font-weight: 700;
      margin-bottom: 0.8rem;
      margin-top: 1.5rem;
    }

    ul {
      list-style: disc;
      padding-left: 1.8rem;
    }

    ol {
      list-style: decimal;
      padding-left: 2.1rem;
    }
  }
}
