@import "../../../../styles/variables";

/* Default styles for mobile devices and above */
.horizontal-card-container {
  height: auto;
  min-height: 15rem;
  max-height: 17rem;
  padding: 0.5rem;
  border-radius: 0.8rem;
  background-color: white;
  display: flex;
  gap: 0.7rem;
  width: 51rem;
  min-width: 50rem;
  max-width: 52rem;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: all 0.2s ease-out;
  overflow: hidden;

  &:hover {
    .card-left {
      .image-box {
        .vehicle-image {
          transform: scale(1.1);
        }
      }
    }
  }

  // card top
  .card-left {
    width: 30% !important;
    min-width: 30%;
    max-width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    // background: #000;

    .image-box {
      width: 100%;
      min-width: 100%;
      height: 100%;
      min-height: 100%;
      border: solid 1px rgba(0, 0, 0, 0.1);
      border-radius: 1rem;
      overflow: hidden;

      .vehicle-image {
        width: 100%;
        height: 100%;
        object-position: center;
        object-fit: cover;
        transform: scale(1);
        transition: transform 0.5s ease;
      }

      .profile-icon {
        position: absolute;
        bottom: -1rem;
        right: 1rem;
        width: 2rem;
        height: 2rem;
        aspect-ratio: 1;
        border-radius: 100%;
        object-fit: cover;
        border: 1px solid white;
        padding: 0.1rem;
        background-color: white;
      }

      .brand {
        position: absolute;
        left: 0.5rem;
        top: 0.5rem;
        background-color: white;
        padding: 0.3rem;
        border-radius: 0.4rem;
        color: rgb(66, 66, 66);
        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
        font-size: 0.8rem;
      }
    }
  }

  // card bottom
  .card-right {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    row-gap: 0.7rem;
    width: 70% !important;
    max-width: 70% !important;
    height: auto;

    .right-top-container {
      font-weight: 500;
      font-size: 1.2rem;
      margin-bottom: 0.1rem;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 95%;
      max-width: 95% !important;

      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1;
    }

    // features grid
    .vehicle-specs {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-left: 0.3rem;
      padding-right: 0.2rem;
      column-gap: 0.1rem;
      height: 2rem;
      background-color: rgb(239, 239, 239);
      border-radius: 0.5rem;
      width: 98%;
      max-width: 98%;

      .spec {
        width: 16.67%;
        max-width: 16.7%;
        min-width: 16.7%;
        display: flex;
        justify-content: start;
        align-items: center;
        column-gap: 0.3rem;
        font-size: 0.8rem;
        line-height: 1.2;
        color: gray;

        .spec-icon {
          flex-shrink: 0;
        }

        .each-spec-value {
          width: 100%;
          height: auto;
          overflow: hidden;
          white-space: nowrap; // Prevent wrapping
          text-overflow: ellipsis; // Add ellipsis for truncation
          word-wrap: break-word;
          text-align: left;
        }
      }
    }

    .bottom-box {
      display: flex;
      justify-content: space-between;
      column-gap: 0.2rem;
      align-items: center;
      margin-top: auto;
      padding-left: 0rem;
      padding-right: 0.5rem;
      width: 98%;
      max-width: 98%;

      // bottom left
      .bottom-left {
        display: flex;
        align-items: center;
        gap: 0.3rem;
        background: rgb(239, 239, 239);
        border-radius: 1rem;
        padding-right: 0.6rem;

        // profile image
        .profile {
          width: 2.7rem;
          height: 2.7rem;
          border-radius: 1rem;
          overflow: hidden;
          border: solid 1px rgb(241, 241, 241);

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        .location {
          display: flex;
          align-items: center;
          height: 2rem;
          font-size: 0.8rem;
          column-gap: 0.1rem;
          color: rgb(79, 79, 79);

          .each-location {
            display: flex;
            justify-content: start;
            align-items: center;

            .state {
              text-transform: capitalize;
              font-size: 0.95rem;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              width: fit-content;
              max-width: 5rem;
              text-align: left;
            }
          }
        }
      }

      // price
      .price {
        font-size: 0.85rem;
        color: rgb(70, 70, 70);
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20%;
        min-width: fit-content;
        white-space: nowrap;
        padding: 0.4rem 0.6rem;
        border-radius: 1rem;
        background: rgb(239, 239, 239);

        .rental-price {
          font-weight: bolder;
          font-size: medium;
          color: red;
          font-size: 1.2rem;
        }

        .rental-period {
          font-weight: bolder;
          font-size: medium;
          font-size: 0.7rem;
        }
      }

      // bottom right
      .bottom-right {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        padding-right: 0.3rem;

        .rent-now-btn {
          display: flex;
          flex-direction: column;

          .rent-now-text{
            font-weight: bold;
            color: black;
            font-size: larger;
            margin-left: .56rem;
          }

          .green-round {
            position: relative;
            display: inline-flex;
            width: 0.35rem;
            height: 0.35rem;
            background-color: rgb(88, 221, 88);
            border-radius: 50%;
            margin-right: 0.3rem;
          }
          .margin-for-span {
            margin-left: .67rem;
          }

          span {
            font-size: 0.7rem;
            font-weight: lighter;
            line-height: none;
            color: gray;
            white-space: nowrap;
          }
        }
        
        .not-available-div {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: none;
          font-size: .8rem;
          font-weight: 600;
          color: rgb(198, 51, 51);
        }
      }
    }
  }
}
