@import "../../../styles/variables";

.black-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  /* Semi-transparent black */
  z-index: 9;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  opacity: 0;
  /* Initially hidden */
  visibility: hidden;
  /* Initially non-interactive */

  &.visible {
    opacity: 1;
    /* Fade-in effect */
    visibility: visible;
    /* Make interactive */
  }

  &.hidden {
    opacity: 0;
    /* Fade-out effect */
    visibility: hidden;
    /* Make non-interactive */
  }
}

/* Default styles for mobile devices and above */
.mobile-profile-card {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0.5rem;
  z-index: 10;
  gap: 0.7rem;
  width: 98%;
  max-width: 40rem;
  padding: 1rem;
  background-color: #f2f7f6;
  border-radius: 1rem;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  height: 9rem;
  transition: height 0.5s cubic-bezier(0.165, 0.84, 0.44, 1),
    max-height 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  max-height: auto;
  overflow: hidden;

  // expanded height
  &.expanded-view {
    height: 22rem; // Let the content determine the height
    max-height: 100vh; // Limit the maximum height

    .top-heading {
      .expand {
        .icon {
          rotate: 360deg;
        }
      }
    }
  }

  .top-heading {
    display: flex;
    justify-content: space-between;
    position: relative;

    .mobile-profile-heading {
      width: 100%;
      font-size: 0.93rem;
      display: flex;
      align-items: center;
      justify-content: left;
      font-weight: 600;

      .disabled-text {
        font-size: 13px;
        font-weight: 500;
        color: rgb(244, 41, 41);
        margin-top: 4px;
        padding: 0;
        margin: 0;
        text-align: center;
        margin-left: 0.3rem;
        margin-bottom: -0.2rem;
      }
    }

    .expand {
      position: absolute;
      right: -0.45rem;
      top: 0rem;
      background-color: transparent;
      font-weight: bold;
      border: none;
      color: $yellow;
      display: flex;
      align-items: center;
      font-size: 0.9rem;
      gap: 0.2rem;
      cursor: pointer;

      .icon {
        rotate: 180deg;
        font-size: 1.1rem;
      }
    }
  }

  .top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;

    .profile-details {
      display: flex;
      align-items: center;
      gap: 1rem;

      // image container
      .profile {
        width: 3rem;
        height: 3rem;
        min-width: 3rem;
        min-height: 3rem;
        aspect-ratio: 1;
        border-radius: 100%;
        overflow: hidden;
        border: solid 1px rgba(0, 0, 0, 0.1);

        .company-profile {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
        }
      }

      .blurred-profile {
        filter: blur(13px); //for blurring the profile
      }

      // name label
      .company-name {
        font-weight: 500;
        font-size: 0.9rem;
        color: rgb(61, 61, 61);
        margin-bottom: 0.4rem;
      }

      // for blurring the text
      .blurred-text {
        color: transparent;
        text-shadow: 0 0 8px #000;
        width: fit-content;
        user-select: none;
        pointer-events: none;
        cursor: not-allowed;
      }

      // verified label
      .verified {
        display: flex;
        align-items: center;
        column-gap: 0.3rem;
        position: relative;

        .icon {
          scale: 1.4;
          color: $yellow;
          position: absolute;
        }

        span {
          background-color: rgb(211, 211, 211);
          border-radius: 0.3rem;
          padding: 0.2rem 0.4rem 0.2rem 0.8rem;
          font-size: 0.65rem;
          margin-left: 0.8rem;
          font-weight: 500;
        }
      }
    }

    // price
    .price {
      display: flex;
      align-items: center;
      font-size: 1rem;
      color: rgb(71, 71, 71);

      span {
        font-weight: bold;
        font-size: 1.5rem;
        color: red;
      }
    }

    // contact buttons
    .profile-right {
      display: flex;
      column-gap: 1rem;
      justify-content: space-around;

      // RENT NOW
      .contact-container {
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 1rem;

        .rent-now-btn {
          font-weight: bold;
          font-size: larger;
          display: flex;
          flex-direction: column;
          display: none;

          span {
            font-size: 0.7rem;
            font-weight: lighter;
            line-height: none;
            color: gray;
          }
        }

        .icons {
          display: flex;
          align-items: center;
          column-gap: 0.6rem;

          .icon {
            font-size: 2rem;
          }

          .whatsapp {
            color: rgb(0, 219, 0);
            font-size: 2.2rem;
          }

          .mail {
            color: gray;
          }

          .phone {
            font-size: 2.2rem;
          }
        }
      }
    }
  }

  // availability
  .availability {
    display: flex;
    align-items: center;
    column-gap: 0.4rem;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.2rem;
    font-weight: 500;

    .icon {
      scale: 1.3;
      color: white;
      background-color: $green;
      border-radius: 100%;
      width: 1.4rem;
      height: 1.4rem;
      padding: 0.3rem;
    }

    p {
      color: rgb(87, 87, 87);

      span {
        color: $green;
      }
    }
  }
}

/*  (min-width: 768px) and above */
@media (min-width: 768px) {
  .mobile-profile-card {
    .top {
      display: flex;
      justify-content: space-between;
      margin-bottom: 1rem;

      .profile-details {
        display: flex;
        align-items: center;
        gap: 1rem;

        // image container
        .profile {
          width: 3rem;
          height: 3rem;
          aspect-ratio: 1;
          border-radius: 100%;
          overflow: hidden;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
          }
        }

        // name label
        p {
          font-weight: 500;
          font-size: 0.9rem;
          color: rgb(61, 61, 61);
          margin-bottom: 0.4rem;
        }

        // verified label
        .verified {
          display: flex;
          align-items: center;
          column-gap: 0.3rem;
          position: relative;

          .icon {
            scale: 1.4;
            color: $yellow;
            position: absolute;
          }

          span {
            background-color: rgb(211, 211, 211);
            border-radius: 0.3rem;
            padding: 0.2rem 0.4rem 0.2rem 0.8rem;
            font-size: 0.65rem;
            margin-left: 0.8rem;
            font-weight: 500;
          }
        }
      }

      // price
      .price {
        display: flex;
        align-items: center;
        font-size: 1rem;
        color: rgb(71, 71, 71);

        span {
          font-weight: bold;
          font-size: 1.5rem;
          color: red;
        }
      }

      // contact buttons
      .profile-right {
        display: flex;
        column-gap: 1rem;
        justify-content: space-around;

        // RENT NOW
        .contact-container {
          display: flex;
          justify-content: center;
          align-items: center;
          column-gap: 1rem;

          .rent-now-btn {
            display: flex;
          }

          .icons {
            display: flex;
            align-items: center;
            column-gap: 1rem;

            .icon {
              font-size: 2rem;
            }

            .whatsapp {
              color: rgb(0, 219, 0);
              font-size: 2.2rem;
            }

            .mail {
              color: gray;
            }

            .phone {
              font-size: 2.2rem;
            }
          }
        }
      }
    }
  }
}

/* (min-width: 1024px) and above */
@media (min-width: 1024px) {
}

/* (min-width: 1200px) and above */
@media (min-width: 1200px) {
  .mobile-profile-card {
    display: none;
  }
}
