/* Default styles for mobile devices and above */
.vehicle-details-page {
  height: auto;
  min-height: 100vh;
  padding-top: 1rem;
  padding-bottom: 2rem;
  width: 100% !important;

  // heading container
  .heading-box {
    background-color: white;
    padding: 0.7rem 1rem;
    border-radius: 1rem;
    border: solid 1px rgba(109, 109, 109, 0.1);
    box-shadow: 1px 1px 4px rgba(101, 101, 101, 0.1);
    margin-bottom: 1rem;
    .model-name {
      font-weight: 500;
      font-size: 1.18rem;
    }
  }

  // Details Container
  .vehicle-details-section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: start;
    width: 100% !important;
    max-width: 100% !important;
  }
}

/*  (min-width: 768px) and above */
@media (min-width: 768px) {
  .vehicle-details-page {
    // heading container
    .heading-box {
      .model-name {
        font-size: 1.45rem;
        width: 90%;
      }
    }
  }
}

/* (min-width: 1024px) and above */
@media (min-width: 1024px) {
  .vehicle-details-page {
    .heading-box {
      .model-name {
        font-size: 1.7rem;
      }
    }
  }
}

/* (min-width: 1200px) and above */
@media (min-width: 1200px) {
  .vehicle-details-page {
    .vehicle-details-section {
      flex-direction: row;
    }
  }
}
