/* Default styles for mobile devices and above */
.promotion-card-container {
  border-radius: 0.8rem;
  background-color: white;
  min-width: 15rem;
  width: 100%;
  max-width: 17rem;
  height: 21rem;
  max-height: 21rem;
  overflow: hidden;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  position: relative;

  &:hover {
    .img-container {
      .promotion-img {
        transform: scale(1.06);
      }
    }
  }

  .img-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; // Ensure positioning context for overlay

    // promotion image styling
    .promotion-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transform: scale(1);
      transition: transform 0.5s ease;
    }

    // overlay
    .overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgba(0, 0, 0, 0.3);
      opacity: 0; // Initially hidden
      transition: opacity 0.3s ease-in-out; // Smooth transition for opacity

      .overlay-text {
        font-size: 1.3rem;
        font-weight: 600;
        color: white;
      }
    }
  }

  &:hover .overlay {
    opacity: 1; // Show overlay on hover
  }
}

/*  (min-width: 768px) and above */
@media (min-width: 768px) {
}

/* (min-width: 1024px) and above */
@media (min-width: 1024px) {
}
