@import '../../../../styles/variables';

.quick-links-container {
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  padding: 1rem;
  background-color: white;
  border-radius: 1rem;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3);


  .links-heading {
    h2 {
      font-weight: 500;
      margin-bottom: 2rem;
    }
  }

  .links-box {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;



    .link {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      width: 100%;
      max-width: 100%;
      color: black;
      text-decoration: underline;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      &:hover {
        color: $orange;
      }

      .link-icon {
        color: $orange;
        min-width: 1rem;
      }
    }


  }
}


/* (min-width: 1200px) and above */
@media (min-width: 1200px) {
  .quick-links-container {
    max-width: 25rem;
  }
}