@use "../../../../../styles/variables" as *;

/* Default styles for mobile devices and above */
.profile-card {
  display: none;
  flex-direction: column;
  gap: 1;
  width: 100%;
  padding: 1rem;
  background-color: white;
  border-radius: 1rem;
  border: solid 1px rgba(109, 109, 109, 0.1);
  box-shadow: 1px 1px 4px rgba(101, 101, 101, 0.1);

  .profile-heading {
    h2 {
      font-weight: 500;
    }
  }

  .disabled-text {
    font-size: 16px;
    font-weight: 500;
    color: rgb(244, 41, 41);
    margin-top: 4px;
    padding: 0;
    margin: 0;
    text-align: center;
  }

  // rent now button
  .bottom {
    display: flex;
    column-gap: 1rem;
    justify-content: space-around;

    .price {
      display: flex;
      align-items: center;
      font-size: 1rem;
      color: rgb(71, 71, 71);

      span {
        font-weight: bold;
        font-size: 1.5rem;
        color: red;
      }
    }
  }
}

/* (min-width: 1200px) and above */
@media (min-width: 1200px) {
  .profile-card {
    display: flex;
  }
}
