@use "../../../../../../styles/variables" as *;

.top-heading {
  display: flex;
  justify-content: space-between;
  position: relative;

  .mobile-profile-heading {
    width: 100%;
    font-size: 0.93rem;
    display: flex;
    align-items: center;
    justify-content: left;
    font-weight: 600;

    .disabled-text {
      font-size: 13px;
      font-weight: 500;
      color: rgb(244, 41, 41);
      margin-top: 4px;
      padding: 0;
      margin: 0;
      text-align: center;
      margin-left: 0.3rem;
      margin-bottom: -0.2rem;
    }
  }

  .expand {
    position: absolute;
    right: -0.45rem;
    top: 0rem;
    background-color: transparent;
    font-weight: bold;
    border: none;
    color: $yellow;
    display: flex;
    align-items: center;
    font-size: 0.9rem;
    gap: 0.2rem;
    cursor: pointer;

    .icon {
      rotate: 180deg;
      font-size: 1.1rem;
    }
  }
}
