/* Default styles for mobile devices and above */
.vehicle-details-section {
  height: auto;
  min-height: 100vh;
  padding-top: 1rem;
  width: 100% !important;
  max-width: 100% !important;

  // heading container
  .heading-box {
    background-color: white;
    padding: 1rem;
    border-radius: 1rem;
    margin-bottom: 1rem;

    .model-name {
      font-weight: 500;
      font-size: 1.4rem;
      margin-bottom: 1.4rem;
    }

    .custom-sub-heading {
      color: rgb(83, 83, 83);
      width: 100%;
      font-size: 15px;
    }

    .specification-info {
      margin-top: 0.6rem;
      font-weight: 500;
      background-color: rgb(242, 242, 242);
      padding: 0.3rem 0.6rem;
      border-radius: 0.3rem;
      width: fit-content;
    }

    .location-container {
      font-size: 15px;
      color: rgb(91, 91, 91);
      margin-top: 0.6rem;
      display: flex;
      align-items: start;

      .location {
        display: flex;
        justify-content: start;
        align-items: center;
        font-size: 1rem;
        column-gap: 0.3rem;
        margin-top: 0.1rem;

      }

      .state {
        font-weight: 500;
        color: rgb(37, 37, 37);
        margin-right: 0.3rem;
        display: flex;
        align-items: center;
        white-space: nowrap;
      }

      .city-list-subheading {


        .city {
          font-weight: 400;
          color: rgb(45, 45, 45);
          margin-right: 0.3rem;
          font-size: 0.95rem;
        }
      }
    }

  }


  // Details Container
  .details-section {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100% !important;
    max-width: 100% !important;


    .details-container {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      width: 100% !important;
      max-width: 100% !important;

      .details {
        width: 100%;
        min-width: auto;
        max-width: 100%;
      }


      // right
      .right {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: start;
        gap: 1rem;
      }
    }
  }
}



/*  (min-width: 768px) and above */
@media (min-width: 768px) {
  .vehicle-details-section {

    // heading container
    .heading-box {

      .model-name {
        max-width: 80%;
        width: 80%
      }

      .custom-sub-heading {
        color: rgb(83, 83, 83);
        width: 85%;
        font-size: 15px;
      }

      .location-container {
        display: flex;
        column-gap: 0.1rem;
        font-size: 15px;
        color: rgb(91, 91, 91);
        margin-top: 0.8rem;

        .location {
          display: flex;
          justify-content: start;
          align-items: center;
          font-size: 1rem;
          column-gap: 0.3rem;

        }

        .state {
          font-weight: 500;
          color: rgb(37, 37, 37);
          margin-right: 0.3rem;
        }

        .city {
          font-weight: 400;
          color: rgb(45, 45, 45);
          margin-right: 0.3rem;
        }
      }

    }

    // Details Container
    .details-section {
      .details-container {
        .details {
          width: auto;
          min-width: auto;
          max-width: 100%;
        }

      }
    }
  }
}

/* (min-width: 1024px) and above */
@media (min-width: 1024px) {
  .vehicle-details-section {

    // Details Container
    .details-section {
      .details-container {
        display: flex;
        gap: 1rem;


        .details {
          width: auto;
          min-width: auto;
          max-width: 100%;
        }
      }
    }
  }
}


/* (min-width: 1200px) and above */
@media (min-width: 1200px) {
  .vehicle-details-section {

    // Details Container
    .details-section {
      .details-container {
        flex-direction: row;

        .details {
          max-width: 70%;
        }
      }
    }
  }
}