@import "../../../../styles/variables";

/* Default styles for mobile devices and above */
.vertical-card-container {
  height: fit-content;
  max-height: fit-content;
  padding: 0.4rem;
  border-radius: 1rem;
  background-color: white;
  min-width: 21rem;
  width: 100%;
  max-width: 28rem;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.3);
  cursor: pointer;

  &:hover {
    .card-top {
      .image-box {
        .vehicle-image {
          transform: scale(1.06);
        }
      }
    }
  }

  // card top
  .card-top {
    width: 100%;
    height: 12rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    // background: #000;

    .image-box {
      width: 100%;
      min-width: 100%;
      height: 100%;
      min-height: 100%;
      border: solid 1px rgba(0, 0, 0, 0.1);
      border-radius: 1rem;
      overflow: hidden;

      .vehicle-image {
        width: 100%;
        height: 100%;
        object-position: center;
        object-fit: cover;
        transform: scale(1);
        transition: transform 0.5s ease;
      }

      .profile-icon {
        position: absolute;
        bottom: -1.2rem;
        right: 1rem;
        width: 2.8rem;
        height: 2.8rem;
        aspect-ratio: 1;
        border-radius: 100%;
        object-fit: cover;
        border: 1px solid rgb(227, 227, 227);
        padding: 0.1rem;
        background-color: white;
      }

      .brand {
        position: absolute;
        left: 0.5rem;
        top: 0.5rem;
        background-color: white;
        padding: 0.3rem;
        border-radius: 0.4rem;
        color: gray;
        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
        font-size: 0.8rem;
      }
    }
  }

  // card bottom
  .card-bottom {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    row-gap: 0.8rem;
    padding: 0.3rem;

    .model-name {
      font-weight: 500;
      font-size: 1.2rem;
      margin-bottom: 0.1rem;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    // specs grid
    .specs-grid {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      row-gap: 0.6rem;
      column-gap: 0.6rem;
      margin-bottom: 0.3rem;
      background-color: rgb(239, 239, 239);
      padding: 0.3rem;
      border-radius: 0.4rem;

      .spec {
        min-width: 5rem;
        width: 100%;
        max-width: 30%;
        display: flex;
        justify-content: start;
        align-items: center;
        text-align: left;
        column-gap: 0.3rem;
        font-size: 0.8rem;
        line-height: 1.2;
        color: gray;

        .spec-icon {
          flex-shrink: 0;
        }

        .each-spec-value {
          width: 100%;
          height: auto;
          overflow: hidden;
          white-space: nowrap; // Prevent wrapping
          text-overflow: ellipsis; // Add ellipsis for truncation
          word-wrap: break-word;
        }
      }
    }

    .location-box {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 2rem;
      background: rgb(239, 239, 239);
      padding: 0.4rem;
      border-radius: 0.2rem;

      .location {
        display: flex;
        justify-content: start;
        align-items: center;
        font-size: 0.8rem;
        column-gap: 0.3rem;
        color: gray;

        .state {
          text-transform: capitalize;
          font-size: 1rem;
        }
      }

      .price {
        font-size: 0.8rem;
        color: gray;

        .rental-amount {
          font-weight: bolder;
          font-size: 1.1rem;
          color: red;
        }

        .rental-period {
          font-size: 1rem;
        }
      }
    }

    .bottom-rent-box {
      display: flex;
      justify-content: space-around;
      align-items: center;
      column-gap: 1rem;
    }
  }
}

/*  (min-width: 768px) and above */
@media (min-width: 768px) {
}

/* (min-width: 1024px) and above */
@media (min-width: 1024px) {
}
