/* Default styles for mobile devices and above */
.images-container {
  margin-right: 2rem;
  background-color: white;
  border-radius: 1rem;
  padding: 0.4rem;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  width: 100%;
  min-width: 100%;
  max-width: 90rem !important;
  height: auto;
  overflow: hidden;


  .sub-container {
    height: auto;
    min-height: 35vh;
    max-height: 90vh;
    padding: 0;

  }

  .dots-container {
    display: flex;
    justify-content: center;
    margin-top: 0.3rem;
  }

  .dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ccc;
    margin: 0 5px;
    transition: background-color 0.3s;
  }

  .dot.active {
    background-color: #000;
  }
}




/*  (min-width: 768px) and above */
@media (min-width: 768px) {
  .images-container {
    width: 100%;
    max-width: 90rem !important;

    .sub-container {
      height: auto;
      min-height: 50vh;
      max-height: 90vh;
    }
  }
}

/* (min-width: 1200px) and above */
@media (min-width: 1200px) {
  .images-container {

    .sub-container {
      height: auto;
      min-height: 60vh;
      max-height: 90vh;
    }
  }
}