@import "../../../../styles/variables";

/* Default styles for mobile devices and above */
.listing-section {
  background-color: $gray_bg;
  padding-bottom: 2rem;

  // top navbar
  .listing-navbar {
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding-right: 5%;

    .listing-heading {
      font-size: 1.5rem;
      font-weight: normal;
      word-wrap: break-word;
      margin-left: 2rem;
      margin-top: 1.5rem;

      span {
        font-weight: bolder;
      }

      .vehicle-types-heading {
        .separator {
          font-weight: 600;
          font-size: 1.4rem;
          margin-left: 0.5rem;
          margin-right: 0.5rem;
        }

        .vehicle-types {
          font-size: 1.1rem;
          font-weight: 400;
        }
      }
    }

    .list-navbar-right {
      display: flex;
      align-items: center;
      justify-content: end;
      gap: 1rem;
      margin-left: auto;

      .dropdown {
        display: flex;
        align-items: center;
        gap: 0.5rem;

        select {
          outline: none;
          cursor: pointer;
          color: black;
          border: 2px solid gray;
          border-radius: 5px;
          padding: 5px 5px;
          width: 4rem;
          height: 40px;
          font-weight: bold;
          font-size: medium;
          text-align: center;
        }

        select:focus {
          border: 2px solid $yellow;
        }
      }
    }
  }

  // listing filter + grid container
  .listing-container {
    display: flex;
    gap: 2rem;
    margin-top: 0.5rem;
  }
}

/*  (min-width: 768px) and above */
@media (min-width: 768px) {
  .listing-section {
    // top navbar
    .listing-navbar {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      .heading-left {
        margin-left: 2rem;
        margin-top: 0rem;
        .listing-heading {
          font-size: 1.6rem;
          font-weight: normal;

          span {
            font-weight: bolder;
          }
        }
      }
    }
  }
}
