.card-contact-icons {
  display: flex;
  column-gap: 1.8rem;


  .disabled {
    opacity: 0.3;
    pointer-events: none;
    cursor: not-allowed;
    filter: blur(1px);
  }

  .icon {
    scale: 1.5;
  }

  .whatsapp {
    color: rgb(0, 219, 0);
    scale: 1.6;
  }

  .mail {
    color: gray;
  }

  .phone {
    scale: 2.35;
  }
}