@import '../../../styles/variables';

/* Default styles for mobile devices and above */
.features_card {
  display: flex;
  padding: 0.7rem;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 0.8rem;
  width: auto;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  min-height: 13rem;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.3s ease;
  cursor: default;

  &:hover {
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);

    /* Optionally scale the icon on card hover */
    .icon {
      transform: scale(1.1);
    }

  }

  .feature_icon {
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 0.8rem;
    transition: background-color 0.3s ease-out;

    &.black {
      background-color: #201f1d;
    }

    &.blue {
      background-color: #127384;
    }

    &.orange {
      background-color: $yellow;
    }

    .icon {
      width: 2.4rem;
      height: 2.4rem;
      transition: transform 0.1s ease-out;
    }

  }

  h3 {
    text-align: center;
    margin: 0.6rem;
    font-size: 1.2rem;
    font-weight: 500;
  }

  p {
    text-align: center;
    font-size: small;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}