/* Default styles for mobile devices and above */
.car-card-container {
  height: fit-content;
  max-height: fit-content;
  padding: 0.8rem;
  border-radius: 0.8rem;
  background-color: white;
  min-width: 18rem;
  width: 100%;
  max-width: 20rem;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.3);
  cursor: pointer;

  // card top
  .card-top {
    width: 100%;
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    // background: #000;

    .image-box {
      width: 100%;
      min-width: 100%;
      height: 100%;
      min-height: 100%;
      border: solid 1px rgba(0, 0, 0, 0.1);
      border-radius: 1rem;
      overflow: hidden;

      .car-image {
        width: 100%;
        height: 100%;
        object-position: center;
        object-fit: cover;
      }

      .profile-icon {
        position: absolute;
        bottom: -1.2rem;
        right: 1rem;
        width: 2.5rem;
        height: 2.5rem;
        aspect-ratio: 1;
        border-radius: 100%;
        object-fit: cover;
        border: 1px solid white;
        padding: 0.1rem;
        background-color: white;
      }

      span {
        position: absolute;
        left: 0.5rem;
        top: 0.5rem;
        background-color: white;
        padding: 0.3rem;
        border-radius: 0.4rem;
        color: gray;
        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
        font-size: 0.8rem;
      }
    }
  }

  // card bottom
  .card-bottom {
    margin-top: 1.4rem;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    row-gap: 1rem;

    .model-name {
      font-weight: 500;
      font-size: 1.2rem;
      margin-bottom: 0.6rem;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    // specs grid
    .specs-grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 1fr);
      row-gap: 0.6rem;
      margin-bottom: 0.3rem;

      .spec {
        display: flex;
        justify-content: start;
        align-items: center;
        column-gap: 0.3rem;
        font-size: 0.8rem;
        line-height: 0;
        color: gray;
      }
    }

    .location-box {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 2rem;
      background: rgb(239, 239, 239);
      padding: 0.4rem;
      border-radius: 0.2rem;

      .location {
        display: flex;
        justify-content: start;
        align-items: center;
        font-size: 0.8rem;
        column-gap: 0.2rem;
        color: gray;

        .state {
          text-transform: capitalize;
          font-size: 1rem;
        }
      }

      .price {
        font-size: 0.7rem;
        color: gray;

        span {
          font-weight: bolder;
          font-size: medium;
          color: red;
        }
      }
    }

    .bottom-box {
      display: flex;
      justify-content: space-around;
      align-items: center;

      column-gap: 1rem;

      .rent-now-btn {
        font-weight: bold;
        font-size: larger;
        display: flex;
        flex-direction: column;

        span {
          font-size: 0.7rem;
          font-weight: lighter;
          line-height: none;
          color: gray;
        }
      }

      .icons {
        display: flex;
        column-gap: 1.5rem;

        .icon {
          scale: 2;
        }

        .whatsapp {
          color: rgb(0, 219, 0);
          scale: 2.3;
        }

        .mail {
          color: gray;
        }

        .phone {
          scale: 2.3;
        }
      }
    }
  }
}

/*  (min-width: 768px) and above */
@media (min-width: 768px) {}

/* (min-width: 1024px) and above */
@media (min-width: 1024px) {}