@import "../../../../../styles/variables";

/* Default styles for mobile devices and above */
.mobile-profile-card {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0.5rem;
  z-index: 50;
  gap: 0.7rem;
  width: 98%;
  max-width: 40rem;
  padding: 0.5rem 0.8rem;
  background-color: #f2f7f6;
  border-radius: 1rem;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  height: 10.5rem;
  min-height: 10.5rem;
  transition:
    height 0.5s cubic-bezier(0.165, 0.84, 0.44, 1),
    max-height 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  max-height: auto;
  overflow: hidden;

  // expanded height
  &.expanded-view {
    height: 22rem; // Let the content determine the height

    max-height: 100vh; // Limit the maximum height

    .top-heading {
      .expand {
        .icon {
          rotate: 360deg;
        }
      }
    }
  }

  .top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;

    // price
    .price {
      display: flex;
      align-items: center;
      font-size: 1rem;
      color: rgb(71, 71, 71);

      span {
        font-weight: bold;
        font-size: 1.5rem;
        color: red;
      }
    }

    // contact buttons
    .profile-right {
      display: flex;
      column-gap: 1rem;
      justify-content: space-around;

      // RENT NOW
      .contact-container {
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 1rem;
      }
    }
  }
}

/*  (min-width: 768px) and above */
@media (min-width: 768px) {
  .mobile-profile-card {
    height: 9.6rem;
    min-height: 9.6rem;

    .top {
      display: flex;
      justify-content: space-between;
      margin-bottom: 1rem;

      // price
      .price {
        display: flex;
        align-items: center;
        font-size: 1rem;
        color: rgb(71, 71, 71);

        span {
          font-weight: bold;
          font-size: 1.5rem;
          color: red;
        }
      }

      // contact buttons
      .profile-right {
        display: flex;
        column-gap: 1rem;
        justify-content: space-around;
      }
    }
  }
}

/* (min-width: 1200px) and above */
@media (min-width: 1200px) {
  .mobile-profile-card {
    display: none;
  }
}
