@import '../../../../styles/variables';

/* Default styles for mobile devices and above */
.affordable-section {
  min-height: fit-content;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2rem;
  width: 100%;



  h2 {
    margin: 1.7rem auto;
    font-weight: lighter;
    text-align: center;
    margin-bottom: 1.7rem;
    font-weight: bold;
    font-size: 1.5rem;
  }
}




/*  (min-width: 768px) and above */
@media (min-width: 768px) {}

/* (min-width: 1024px) and above */
@media (min-width: 1024px) {}