@import "../../../../styles/variables";

/* Default styles for mobile devices and above */
.profile-specifications {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;

  .specifications {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;

    .specification {
      display: flex;
      align-items: center;

      .icon-box {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.1rem;
        width: 1.4rem;
        height: 1.4rem;

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }

      .label {
        text-transform: capitalize;
        font-weight: 300;
        font-size: 0.85rem;
        margin-left: 0.2rem;
        white-space: nowrap;
      }
    }
  }

  .card-payments {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin-bottom: -0.7rem;

    .card-payments-text {
      font-weight: 400;
      font-size: 0.9rem;
    }

    .card-payments-icons {
      display: flex;
      gap: 0.3rem;

      .card-icon {
        width: 1.75rem;
        height: auto;
      }

      .card-icon-tabby {
        width: 2rem;
      }
    }
  }

  // bottom mileage
  .mileage {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin: 0.5rem;
    color: white;
    margin-bottom: -0.2rem;

    .mileage-box {
      display: flex;
      justify-content: start;
      align-items: center;
      background-color: rgb(44, 44, 44);
      padding: 0.3rem 0.6rem;
      border-radius: 0.5rem;

      .label {
        text-transform: capitalize;
        font-weight: 300;
        font-size: 0.9rem;
        white-space: nowrap;
        margin-left: 0.4rem;
      }

      .value {
        margin-left: auto;
        font-weight: 500;
        color: $yellow;
      }
    }
  }

  .hourly-rental-box {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-size: 0.9rem;
    white-space: nowrap;
    margin-bottom: -0.5rem;

    .highlight {
      font-weight: 600;
    }

    .hourly-mileage {
      color: rgb(35, 35, 35);
    }

    .icon {
      width: 1.15rem;
      height: auto;
      color: black;
      margin-right: 0.2rem;
    }
  }

  .deposit-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: -0.3rem;

    .label {
      text-transform: capitalize;
      font-weight: 400;
      font-size: 0.9rem;
      white-space: nowrap;
      margin-left: 0.2rem;
    }

    .icon {
      width: 20px;
      height: auto;
      color: black;
    }
  }

  .lease-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.3rem 0.6rem;
    border-radius: 0.5rem;
    width: 97%;
    margin-left: auto;
    margin-right: auto;
    margin-top: -0.5rem;
    margin-bottom: -0.7rem;

    .lease-icon {
      color: $orange;
      margin-bottom: 0.2rem;
    }

    .label {
      text-transform: capitalize;
      font-weight: 300;
      font-size: 0.9rem;
      white-space: nowrap;
      margin-left: 0.4rem;
    }
  }
}
