/* Default styles for mobile devices and above */
.privacy-section {
  padding-bottom: 3rem;

  .highlight {
    font-weight: bold;
    color: red;
  }

  a {
    color: blue;

    &:hover {
      text-decoration: underline;
    }
  }

  .container {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}

/*  (min-width: 768px) and above */
@media (min-width: 768px) {}

/* (min-width: 1024px) and above */
@media (min-width: 1024px) {}