name: CI-CD to GCP Cloud Run
on:
    push:
        branches:
            - development
            - prod

jobs:
    build-dev:
        name: Build and Push Docker Image to DEV
        runs-on: ubuntu-latest
        environment: deployments-dev
        outputs:
            image_tag: ${{ steps.set_tag.outputs.image_tag }}
        steps:
            -   name: Checkout code
                uses: actions/checkout@v4

            -   name: Authenticate to Google Cloud (WIF)
                id: auth
                uses: google-github-actions/auth@v3
                with:
                    workload_identity_provider: ${{ secrets.GCP_WORKLOAD_IDENTITY_PROVIDER }}
                    project_id: ${{ secrets.GCP_SHRD_PROJECT_ID }}

            -   name: Set up Cloud SDK
                uses: google-github-actions/setup-gcloud@v2

            -   name: Configure Docker for Artifact Registry
                run: gcloud auth configure-docker asia-docker.pkg.dev

            -   name: Get build number
                id: buildnum
                run: echo "build_number=$(echo $GITHUB_RUN_NUMBER)" >> $GITHUB_OUTPUT

            -   name: Set image tag
                id: set_tag
                run: |
                    DATE=$(date +'%Y%m%d')
                    TAG="${DATE}.${{ steps.buildnum.outputs.build_number }}"
                    echo "image_tag=$TAG" >> $GITHUB_OUTPUT

            -   name: Build Docker image
                run: docker build -t asia-docker.pkg.dev/${{ secrets.GCP_SHRD_PROJECT_ID }}/${{ vars.GCP_IMAGE_REPOSITORY }}/${{ vars.IMAGE_NAME }}-${{ vars.ENVIRONMENT }}:${{ steps.set_tag.outputs.image_tag }} .

            -   name: Push Docker image to Artifact Registry
                run: docker push asia-docker.pkg.dev/${{ secrets.GCP_SHRD_PROJECT_ID }}/${{ vars.GCP_IMAGE_REPOSITORY }}/${{ vars.IMAGE_NAME }}-${{ vars.ENVIRONMENT }}:${{ steps.set_tag.outputs.image_tag }}
    
    build-prod:
        name: Build and Push Docker Image to PROD
        runs-on: ubuntu-latest
        environment: deployments-prod
        outputs:
            image_tag: ${{ steps.set_tag.outputs.image_tag }}
        steps:
            -   name: Checkout code
                uses: actions/checkout@v4

            -   name: Authenticate to Google Cloud (WIF)
                id: auth
                uses: google-github-actions/auth@v3
                with:
                    workload_identity_provider: ${{ secrets.GCP_WORKLOAD_IDENTITY_PROVIDER }}
                    project_id: ${{ secrets.GCP_SHRD_PROJECT_ID }}

            -   name: Set up Cloud SDK
                uses: google-github-actions/setup-gcloud@v2

            -   name: Configure Docker for Artifact Registry
                run: gcloud auth configure-docker asia-docker.pkg.dev

            -   name: Get build number
                id: buildnum
                run: echo "build_number=$(echo $GITHUB_RUN_NUMBER)" >> $GITHUB_OUTPUT

            -   name: Set image tag
                id: set_tag
                run: |
                    DATE=$(date +'%Y%m%d')
                    TAG="${DATE}.${{ steps.buildnum.outputs.build_number }}"
                    echo "image_tag=$TAG" >> $GITHUB_OUTPUT

            -   name: Build Docker image
                run: docker build -t asia-docker.pkg.dev/${{ secrets.GCP_SHRD_PROJECT_ID }}/${{ env.REPOSITORY }}/${{ vars.IMAGE_NAME }}-${{ vars.ENVIRONMENT }}:${{ steps.set_tag.outputs.image_tag }} .

            -   name: Push Docker image to Artifact Registry
                run: docker push asia-docker.pkg.dev/${{ secrets.GCP_SHRD_PROJECT_ID }}/${{ env.REPOSITORY }}/${{ vars.IMAGE_NAME }}-${{ vars.ENVIRONMENT }}:${{ steps.set_tag.outputs.image_tag }}

    deploy-dev:
        name: Deploying to DEV Cloud Run
        runs-on: ubuntu-latest
        needs: build-dev
        if: github.ref == 'refs/heads/development'
        environment: deployments-dev
        steps:
            -   name: Await Approval
                uses: trstringer/manual-approval@v1
                with:
                    secret: ${{ secrets.GIT_TOKEN }}
                    approvers: ${{ secrets.GIT_DEV_APPROVERS }}
                    minimum-approvals: 1
                    issue-title: "Approve DEV deployment"
                    issue-body: "Please approve or deny the DEV deployment to Cloud Run. Reply with 'approve' or 'deny'."
                    polling-interval-seconds: 30
                timeout-minutes: 60
                    

            -   name: Authenticate to Google Cloud (WIF)
                id: auth
                uses: google-github-actions/auth@v3
                with:
                    workload_identity_provider: ${{ secrets.GCP_WORKLOAD_IDENTITY_PROVIDER }}
                    project_id: ${{ secrets.GCP_SVC_PROJECT_ID }}

            -   name: Set up Cloud SDK
                uses: google-github-actions/setup-gcloud@v2

            -   name: Deploy to UAE Cloud Run
                run: |
                    IMAGE_TAG=${{ needs.build.outputs.image_tag }}
                    gcloud run deploy ride-rent-fe-admin-dev-001 \
                        --image=asia-docker.pkg.dev/${{ secrets.GCP_SVC_PROJECT_ID }}/${{ env.REPOSITORY }}/${{ vars.IMAGE_NAME }}-${{ vars.ENVIRONMENT }}:${IMAGE_TAG} \
                        --region=asia-southeast1 \
                        --platform=managed \
                        --quiet

            -   name: Deploy to India Cloud Run
                run: |
                    IMAGE_TAG=${{ needs.build.outputs.image_tag }}
                    gcloud run deploy ride-rent-fe-admin-dev-201 \
                        --image=asia-docker.pkg.dev/${{ secrets.GCP_SVC_PROJECT_ID }}/${{ env.REPOSITORY }}/${{ vars.IMAGE_NAME }}-${{ vars.ENVIRONMENT }}:${IMAGE_TAG} \
                        --region=asia-south1 \
                        --platform=managed \
                        --quiet

    deploy-prd:
        name: Deploying PROD to PROD Cloud Run
        runs-on: ubuntu-latest
        needs: build-prod
        if: github.ref == 'refs/heads/main'
        environment: deployments-prod
        steps:
            -   name: Await Approval
                uses: trstringer/manual-approval@v1
                with:
                    secret: ${{ secrets.GIT_TOKEN }}
                    approvers: ${{ secrets.GIT_PROD_APPROVERS }}
                    minimum-approvals: 1
                    issue-title: "Approve PROD deployment"
                    issue-body: "Please approve or deny the PROD deployment to Cloud Run. Reply with 'approve' or 'deny'."
                    polling-interval-seconds: 30
                timeout-minutes: 120

            -   name: Authenticate to Google Cloud (WIF)
                id: auth
                uses: google-github-actions/auth@v3
                with:
                    workload_identity_provider: ${{ secrets.GCP_WORKLOAD_IDENTITY_PROVIDER }}
                    project_id: ${{ secrets.GCP_SVC_PROJECT_ID }}

            -   name: Set up Cloud SDK
                uses: google-github-actions/setup-gcloud@v2

            -   name: Deploy to UAE Cloud Run
                run: |
                    IMAGE_TAG=${{ needs.build.outputs.image_tag }}
                    gcloud run deploy ride-rent-fe-admin-prod-001 \
                        --image=asia-docker.pkg.dev/${{ secrets.GCP_SVC_PROJECT_ID }}/${{ env.REPOSITORY }}/${{ vars.IMAGE_NAME }}-${{ vars.ENVIRONMENT }}:${IMAGE_TAG} \
                        --region=asia-southeast1 \
                        --platform=managed \
                        --quiet
                        
            -   name: Deploy to India Cloud Run
                run: |
                    IMAGE_TAG=${{ needs.build.outputs.image_tag }}
                    gcloud run deploy ride-rent-fe-admin-prod-201 \
                        --image=asia-docker.pkg.dev/${{ secrets.GCP_SVC_PROJECT_ID }}/${{ env.REPOSITORY }}/${{ vars.IMAGE_NAME }}-${{ vars.ENVIRONMENT }}:${IMAGE_TAG} \
                        --region=asia-south1 \
                        --platform=managed \
                        --quiet

                        