name: CI-CD to Azure Webapp for Ride Rent Home
on:
    push:
        branches:
            - development
            - main
            # - devops-*


permissions:
    contents: read
    id-token: write

jobs:
    build-dev:
        name: Build and Push Docker Image to DEV
        runs-on: ubuntu-latest
        environment: deployments-dev
        if : github.ref == 'refs/heads/development' || github.ref == 'refs/heads/dev' || startsWith(github.ref, 'refs/heads/devops-')
        outputs:
            image_tag: ${{ steps.set_tag.outputs.image_tag }}
        steps:
            -   name: Checkout code
                uses: actions/checkout@v4

            -   name: Authenticate to Google Cloud (WIF)
                id: auth
                uses: google-github-actions/auth@v3
                with:
                    workload_identity_provider: ${{ secrets.GCP_WORKLOAD_IDENTITY_PROVIDER }}
                    project_id: ${{ secrets.GCP_SHRD_PROJECT }}

            -   name: Set up Cloud SDK
                uses: google-github-actions/setup-gcloud@v2

            -   name: Configure Docker for Artifact Registry
                run: gcloud auth configure-docker asia-docker.pkg.dev

            -   name: Get build number
                id: buildnum
                run: echo "build_number=$(echo $GITHUB_RUN_NUMBER)" >> $GITHUB_OUTPUT

            -   name: Set image tag
                id: set_tag
                run: |
                    DATE=$(date +'%Y%m%d')
                    TAG="${DATE}.${{ steps.buildnum.outputs.build_number }}"
                    echo "image_tag=$TAG" >> $GITHUB_OUTPUT

            -   name: Build Docker image for UAE
                run: docker build -t asia-docker.pkg.dev/${{ secrets.GCP_SHRD_PROJECT }}/${{ secrets.GCP_IMAGE_REPOSITORY }}/${{ vars.AZ_AE_APP_NAME }}:${{ steps.set_tag.outputs.image_tag }} -f Dockerfile-dev .

            -   name: Push Docker image of UAE
                run: docker push asia-docker.pkg.dev/${{ secrets.GCP_SHRD_PROJECT }}/${{ secrets.GCP_IMAGE_REPOSITORY }}/${{ vars.AZ_AE_APP_NAME }}:${{ steps.set_tag.outputs.image_tag }}

            -   name: Build Docker image for IN
                run: docker build -t asia-docker.pkg.dev/${{ secrets.GCP_SHRD_PROJECT }}/${{ secrets.GCP_IMAGE_REPOSITORY }}/${{ vars.AZ_IN_APP_NAME }}:${{ steps.set_tag.outputs.image_tag }} -f Dockerfile-dev .

            -   name: Push Docker image of IN
                run: docker push asia-docker.pkg.dev/${{ secrets.GCP_SHRD_PROJECT }}/${{ secrets.GCP_IMAGE_REPOSITORY }}/${{ vars.AZ_IN_APP_NAME }}:${{ steps.set_tag.outputs.image_tag }}

    
    build-prod:
        name: Build and Push Docker Image to PROD
        runs-on: ubuntu-latest
        environment: deployments-prod
        if : github.ref == 'refs/heads/main' || github.ref == 'refs/heads/prod' || github.ref == 'refs/heads/production'
        outputs:
            image_tag: ${{ steps.set_tag.outputs.image_tag }}
        steps:
            -   name: Checkout code
                uses: actions/checkout@v4

            -   name: Authenticate to Google Cloud (WIF)
                id: auth
                uses: google-github-actions/auth@v3
                with:
                    workload_identity_provider: ${{ secrets.GCP_WORKLOAD_IDENTITY_PROVIDER }}
                    project_id: ${{ secrets.GCP_SHRD_PROJECT }}
                    
            -   name: Set up Cloud SDK
                uses: google-github-actions/setup-gcloud@v2

            -   name: Configure Docker for Artifact Registry
                run: gcloud auth configure-docker asia-docker.pkg.dev

            -   name: Get build number
                id: buildnum
                run: echo "build_number=$(echo $GITHUB_RUN_NUMBER)" >> $GITHUB_OUTPUT

            -   name: Set image tag
                id: set_tag
                run: |
                    DATE=$(date +'%Y%m%d')
                    TAG="${DATE}.${{ steps.buildnum.outputs.build_number }}"
                    echo "image_tag=$TAG" >> $GITHUB_OUTPUT

            -   name: Build Docker image for UAE
                run: docker build -t asia-docker.pkg.dev/${{ secrets.GCP_SHRD_PROJECT }}/${{ secrets.GCP_IMAGE_REPOSITORY }}/${{ vars.AZ_AE_APP_NAME }}:${{ steps.set_tag.outputs.image_tag }} -f Dockerfile-prd .

            -   name: Push Docker image of UAE
                run: docker push asia-docker.pkg.dev/${{ secrets.GCP_SHRD_PROJECT }}/${{ secrets.GCP_IMAGE_REPOSITORY }}/${{ vars.AZ_AE_APP_NAME }}:${{ steps.set_tag.outputs.image_tag }}
            
            -   name: Build Docker image for IN
                run: docker build -t asia-docker.pkg.dev/${{ secrets.GCP_SHRD_PROJECT }}/${{ secrets.GCP_IMAGE_REPOSITORY }}/${{ vars.AZ_IN_APP_NAME }}:${{ steps.set_tag.outputs.image_tag }} -f Dockerfile-prd .

            -   name: Push Docker image of IN
                run: docker push asia-docker.pkg.dev/${{ secrets.GCP_SHRD_PROJECT }}/${{ secrets.GCP_IMAGE_REPOSITORY }}/${{ vars.AZ_IN_APP_NAME }}:${{ steps.set_tag.outputs.image_tag }}


    deploy-dev:
        name: Deploying to DEV Azure Web App
        runs-on: ubuntu-latest
        needs: build-dev
        if: github.ref == 'refs/heads/development' || github.ref == 'refs/heads/dev' || startsWith(github.ref, 'refs/heads/devops-')
        environment: deployments-dev
        steps:       
            -   name: Checkout code
                uses: actions/checkout@v4    
                    
            -   name: Azure login (App Registration)
                uses: azure/login@v2
                with:
                    client-id: ${{ secrets.AZURE_CLIENT_ID }}
                    tenant-id: ${{ secrets.AZURE_TENANT_ID }}
                    client-secret: ${{ secrets.AZURE_CLIENT_SECRET }}
                    subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

            -   name: Update UAE Web App image
                env:
                    IMAGE_TAG: ${{ needs.build-dev.outputs.image_tag }}
                run: |
                    az webapp config container set \
                        --name ${{ vars.AZ_AE_APP_NAME }} \
                        --resource-group ${{ vars.AZ_APPS_RG }} \
                        --docker-custom-image-name asia-docker.pkg.dev/${{ secrets.GCP_SHRD_PROJECT }}/${{ secrets.GCP_IMAGE_REPOSITORY }}/${{ vars.AZ_AE_APP_NAME }}:${IMAGE_TAG}
                    
            -   name: Restart UAE Web App
                run: |        
                        az webapp restart \
                        --name ${{ vars.AZ_AE_APP_NAME }} \
                        --resource-group ${{ vars.AZ_APPS_RG }}

            -   name: Update IN Web App image
                env:
                    IMAGE_TAG: ${{ needs.build-dev.outputs.image_tag }}
                run: |
                    az webapp config container set \
                        --name ${{ vars.AZ_IN_APP_NAME }} \
                        --resource-group ${{ vars.AZ_APPS_RG }} \
                        --docker-custom-image-name asia-docker.pkg.dev/${{ secrets.GCP_SHRD_PROJECT }}/${{ secrets.GCP_IMAGE_REPOSITORY }}/${{ vars.AZ_IN_APP_NAME }}:${IMAGE_TAG}
                    
            -   name: Restart IN Web App
                run: |        
                        az webapp restart \
                        --name ${{ vars.AZ_IN_APP_NAME }} \
                        --resource-group ${{ vars.AZ_APPS_RG }}

    deploy-prd:
        name: Deploying PROD to Azure Web App
        runs-on: ubuntu-latest
        needs: build-prod
        if: github.ref == 'refs/heads/main' || github.ref == 'refs/heads/prod' || github.ref == 'refs/heads/production'
        environment: deployments-prod
        steps:
            -   name: Checkout code
                uses: actions/checkout@v4

            -   name: Await Approval
                uses: trstringer/manual-approval@v1
                with:
                    secret: ${{ secrets.GIT_TOKEN }}
                    approvers: ${{ secrets.GIT_APPROVERS }}
                    minimum-approvals: 1
                    issue-title: "Approve PROD deployment"
                    issue-body: "Please approve or deny the PROD deployment to Azure Web App. Reply with 'approve' or 'deny'."
                    polling-interval-seconds: 30
                timeout-minutes: 120

            -   name: Azure login (App Registration)
                uses: azure/login@v2
                with:
                    client-id: ${{ secrets.AZURE_CLIENT_ID }}
                    tenant-id: ${{ secrets.AZURE_TENANT_ID }}
                    client-secret: ${{ secrets.AZURE_CLIENT_SECRET }}
                    subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

            -   name: Update UAE Web App image
                env:
                    IMAGE_TAG: ${{ needs.build-prod.outputs.image_tag }}
                run: |
                    az webapp config container set \
                        --name ${{ vars.AZ_AE_APP_NAME }} \
                        --resource-group ${{ vars.AZ_APPS_RG }} \
                        --docker-custom-image-name asia-docker.pkg.dev/${{ secrets.GCP_SHRD_PROJECT }}/${{ secrets.GCP_IMAGE_REPOSITORY }}/${{ vars.AZ_AE_APP_NAME }}:${IMAGE_TAG}
                    
            -   name: Restart UAE Web App
                run: |        
                        az webapp restart \
                        --name ${{ vars.AZ_AE_APP_NAME }} \
                        --resource-group ${{ vars.AZ_APPS_RG }}

            -   name: Update IN Web App image
                env:
                    IMAGE_TAG: ${{ needs.build-prod.outputs.image_tag }}
                run: |
                    az webapp config container set \
                        --name ${{ vars.AZ_IN_APP_NAME }} \
                        --resource-group ${{ vars.AZ_APPS_RG }} \
                        --docker-custom-image-name asia-docker.pkg.dev/${{ secrets.GCP_SHRD_PROJECT }}/${{ secrets.GCP_IMAGE_REPOSITORY }}/${{ vars.AZ_IN_APP_NAME }}:${IMAGE_TAG}
                    
            -   name: Restart IN Web App
                run: |        
                        az webapp restart \
                        --name ${{ vars.AZ_IN_APP_NAME }} \
                        --resource-group ${{ vars.AZ_APPS_RG }}
                        

                        