@import "../../../styles/variables";

/* Default styles for mobile devices and above */
.profile-card {
  display: none;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  min-width: 22rem;
  max-width: 25rem;
  padding: 1rem;
  background-color: white;
  border-radius: 1rem;
  border: solid 1px rgba(109, 109, 109, 0.1);
  box-shadow: 1px 1px 4px rgba(101, 101, 101, 0.1);

  .profile-heading {
    h2 {
      font-weight: 500;
    }
  }

  .disabled-text {
    font-size: 16px;
    font-weight: 500;
    color: rgb(244, 41, 41);
    margin-top: 4px;
    padding: 0;
    margin: 0;
    text-align: center;
  }

  .top-container {
    position: relative;

    .top {
      padding: 0.1rem;
      position: relative;
      overflow: hidden;
      border-radius: 1rem;

      &:hover {
        /* Ensure z-index changes when hovered */
        .company-black-overlay {
          opacity: 1; /* Make the overlay visible */
          z-index: 30; /* Bring overlay to the front */
        }
      }
      // black overlay
      .company-black-overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(
          36,
          36,
          36,
          0.85
        ); /* Black background with transparency */
        color: $yellow;
        font-size: 1.2rem;
        font-weight: 600;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0; /* Initially hidden */
        z-index: 30; /* Initially set to behind content */
        transition:
          opacity 0.3s ease-in-out,
          z-index 0s linear 0.3s; /* Smooth opacity transition */
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
      }

      .profile-details {
        display: flex;
        align-items: center;
        gap: 1rem;
        border: solid 1px rgba(0, 0, 0, 0.1);
        border-radius: 1rem;
        padding: 0.8rem;
        background-color: #fff;
        z-index: 10;
        transition: background-color 0.3s ease;
        position: relative;

        &:hover {
          background-color: rgb(239, 239, 239);
          cursor: pointer;
        }

        // image container
        .blurred-profile {
          filter: blur(13px);
        }

        .profile-logo {
          width: 5rem;
          max-width: 5rem;
          min-width: 5rem;
          height: 5rem;
          min-height: 5rem;
          max-height: 5rem;
          aspect-ratio: 1;
          border-radius: 100%;
          border: solid 1px rgba(0, 0, 0, 0.099);
          overflow: hidden;

          .company-profile-logo {
            width: 100%;
            height: 100%;
            min-width: 100%;
            min-height: 100%;
            object-fit: cover !important;
            object-position: center;
            user-select: none;
            pointer-events: none;
            user-drag: none;
          }
        }

        // name label
        .company-name {
          font-weight: 500;
          font-size: 1.1rem;
          color: rgb(61, 61, 61);
          margin-bottom: 0.4rem;
        }

        // for blurring the text
        .blurred-text {
          color: transparent;
          text-shadow: 0 0 8px #000;
          width: fit-content;
          user-select: none;
          pointer-events: none;
          cursor: not-allowed;
        }

        // verified label
        .verified {
          display: flex;
          align-items: center;
          column-gap: 0.3rem;
          position: relative;

          .icon {
            scale: 1.7;
            color: $yellow;
            position: absolute;
          }

          span {
            background-color: rgb(211, 211, 211);
            border-radius: 0.3rem;
            padding: 0.2rem 0.4rem 0.2rem 0.8rem;
            font-size: 0.65rem;
            margin-left: 0.8rem;
            font-weight: 500;
          }
        }
      }
    }

    // view portfolio div under top-container
    .view-portfolio {
      position: absolute;
      height: 1rem;
      background-color: red;
      bottom: -0.33rem;
      left: 50%;
      transform: translateX(-50%);
      z-index: 40;
      font-size: 0.8rem;
      color: black;
      border-radius: 0.3rem;
      text-align: center;
      padding: 0 0.5rem;
      background-color: $yellow;
    }
  }

  // availability
  .availability {
    display: flex;
    align-items: center;
    column-gap: 0.4rem;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.2rem;
    font-weight: 500;

    .icon {
      scale: 1.3;
      color: white;
      background-color: $green;
      border-radius: 100%;
      width: 1.4rem;
      height: 1.4rem;
      padding: 0.3rem;
    }

    p {
      color: rgb(87, 87, 87);

      span {
        color: $green;
      }
    }
  }

  // rent now button
  .bottom {
    display: flex;
    column-gap: 1rem;
    justify-content: space-around;

    .price {
      display: flex;
      align-items: center;
      font-size: 1rem;
      color: rgb(71, 71, 71);

      span {
        font-weight: bold;
        font-size: 1.5rem;
        color: red;
      }
    }

    // RENT NOW
    .bottom-box {
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: 2rem;

      .rent-now-btn {
        font-weight: bold;
        font-size: larger;
        display: flex;
        flex-direction: column;

        span {
          font-size: 0.7rem;
          font-weight: lighter;
          line-height: none;
          color: gray;
        }
      }
    }
  }
}

/*  (min-width: 768px) and above */
@media (min-width: 768px) {
}

/* (min-width: 1200px) and above */
@media (min-width: 1200px) {
  .profile-card {
    display: flex;
  }
}
