@import "../../../styles/variables";

/* Default styles for mobile devices and above */
.profile-card {
  display: none;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  min-width: 22rem;
  max-width: 25rem;
  padding: 1rem;
  background-color: white;
  border-radius: 1rem;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3);

  .profile-heading {
    h2 {
      font-weight: 500;
    }
  }

  .disabled-text {
    font-size: 16px;
    font-weight: 500;
    color: rgb(244, 41, 41);
    margin-top: 4px;
    padding: 0;
    margin: 0;
    text-align: center;
  }

  .top {
    .profile-details {
      display: flex;
      align-items: center;
      gap: 1rem;
      border: solid 1px rgba(0, 0, 0, 0.1);
      border-radius: 1rem;
      padding: 0.8rem;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: rgba(0, 0, 0, 0.05);
        cursor: pointer;
      }

      // image container
      .blurred-profile {
        filter: blur(13px);
      }

      .profile-logo {
        width: 5rem;
        max-width: 5rem;
        min-width: 5rem;
        height: 5rem;
        min-height: 5rem;
        max-height: 5rem;
        aspect-ratio: 1;
        border-radius: 100%;
        border: solid 1px rgba(0, 0, 0, 0.099);
        overflow: hidden;

        .company-profile-logo {
          width: 100%;
          height: 100%;
          min-width: 100%;
          min-height: 100%;
          object-fit: cover !important;
          object-position: center;
          user-select: none;
          pointer-events: none;
          user-drag: none;
        }
      }

      // name label
      .company-name {
        font-weight: 500;
        font-size: 1.1rem;
        color: rgb(61, 61, 61);
        margin-bottom: 0.4rem;
      }

      // for blurring the text
      .blurred-text {
        color: transparent;
        text-shadow: 0 0 8px #000;
        width: fit-content;
        user-select: none;
        pointer-events: none;
        cursor: not-allowed;
      }

      // verified label
      .verified {
        display: flex;
        align-items: center;
        column-gap: 0.3rem;
        position: relative;

        .icon {
          scale: 1.7;
          color: $yellow;
          position: absolute;
        }

        span {
          background-color: rgb(211, 211, 211);
          border-radius: 0.3rem;
          padding: 0.2rem 0.4rem 0.2rem 0.8rem;
          font-size: 0.65rem;
          margin-left: 0.8rem;
          font-weight: 500;
        }
      }
    }
  }

  // availability
  .availability {
    display: flex;
    align-items: center;
    column-gap: 0.4rem;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.2rem;
    font-weight: 500;

    .icon {
      scale: 1.3;
      color: white;
      background-color: $green;
      border-radius: 100%;
      width: 1.4rem;
      height: 1.4rem;
      padding: 0.3rem;
    }

    p {
      color: rgb(87, 87, 87);

      span {
        color: $green;
      }
    }
  }

  // rent now button
  .bottom {
    display: flex;
    column-gap: 1rem;
    justify-content: space-around;

    .price {
      display: flex;
      align-items: center;
      font-size: 1rem;
      color: rgb(71, 71, 71);

      span {
        font-weight: bold;
        font-size: 1.5rem;
        color: red;
      }
    }

    // RENT NOW
    .bottom-box {
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: 2rem;

      .rent-now-btn {
        font-weight: bold;
        font-size: larger;
        display: flex;
        flex-direction: column;

        span {
          font-size: 0.7rem;
          font-weight: lighter;
          line-height: none;
          color: gray;
        }
      }
    }
  }
}

/*  (min-width: 768px) and above */
@media (min-width: 768px) {
}

/* (min-width: 1200px) and above */
@media (min-width: 1200px) {
  .profile-card {
    display: flex;
  }
}
